---
title: Template Index
---

{% extends "layouts/_default.html" %}


{% block content %}
<div class="page">
  <main id="main-content" class="content-full" tabindex="0">
    <ul>
      <li><a href="home.html">Homepage</a></li>
      <li><a href="program.html">Academic Program Page</a></li>
      <li><a href="news-events.html">News and Events</a></li>
      <li><a href="universal.html">Universal</a></li>
      <li><a href="landing.html">Landing/Gateway Page</a></li>
      <li><a href="faculty.html">Faculty Bio</a></li>
    </ul>
  </main>
</div>


{% endblock %}