// breadcrumbs
ul#breadcrumbs {
    list-style: none;
    font: 12px/1.5rem $AkkuratProBold;
    text-transform: uppercase;
    padding: 0 0 .5rem 0;
    margin-bottom: 2rem;
    border-bottom: 4px solid $light-grey;
    min-height: 30px;

    li {
        display: inline-block;
        position: relative;
        background-image: none;
        padding-right: 1rem;
        margin-right: 0.5rem;
        &:before {
            position: absolute;
            content: '';
            @include fill($svgstore--arrow-right, $ms-purple);
            background-repeat: no-repeat;
            width: .5rem;
            height: .5rem;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:last-child:before {
            background-image: none;
        }
        &.active {
            color: $ms-green;
        }
    }

    a {
        color: $ms-black;
        white-space: nowrap;
        background-image: none;
        &:hover {
            text-decoration: underline;

        }
    }
}
