


.juicer-feed .j-meta a {
  color: $ms-gray !important;
}

.juicer-feed.user li.feed-item {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);  border-color: transparent !important;
}

.juicer-feed h1.referral {
  display: none !important;
}

.juicer__feed__item {

}

.juicer-feed .j-stacker {
  margin-top: 3rem;
  padding: 1rem;
}