.parallax__container {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 3rem 0 0;
  @include mq(64em) {
    padding: 8rem 0 0rem;
  }
  
  .no-touch & {
    background-attachment: local;
  }
}

.parallax--animate {
  opacity: 0;
  overflow: hidden;
  .parallax--animated & {
    animation: fadeup $transition-speed * 4 $transition-easing forwards;
  }
}

.parallax__header {
  margin-bottom: 0 !important;
}

.parallax__container__first {
  margin-bottom: 5rem;
  @include mq(64em) {
    margin-bottom: 12rem;
  }
  section {
    margin-bottom: 0 !important;
  }
}

.parallax__container__second {
  padding: 2rem 0;
  background: rgba($ms-purple-dark, .85);
  @include mq(64em) {
    padding: 3rem 0;
  }
}

.parallax__button__container {
  text-align: center;
  .button {
    width: 100%;
    @include mq(64em) {
      width: auto;
    }
  }
}

.parallax__number,
.parallax__text {
  text-align: center;
  color: $white;
}

.parallax__number {
  font: 52px $CamptonBook;
}

.parallax__text {
  font: 24px $CamptonBold;
}

.parallax__container__first,
.parallax__container__second {
  position: relative;
  z-index: 2;
}