@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
        transform: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:not(.button__tag):after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        display: block;
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    .module {
        page-break-after: avoid;
    }
    
    .standard-page .left-nav, .hero__container--alt, 
    .hero__container, header, footer, #top-nav, .sidebar__right,
    #breadcrumbs, .news__events__category__container, iframe,
    .media__embed--medium, .media__embed, .tL, .tR, 
    .bL, .bR, .swiper-container, .slider, .show-mobile {
      display: none !important;
    }

    .parallax__container__first {
        margin-bottom: 20px !important;
    }

    .banner__wrap {
        padding-bottom: 0;
    }

    .banner__content {
        position: relative;
        top: auto;
        transform: none;
    }

    .standard-page .content, #main-content {
        width: 100%;
    }

    .tweet__img {
        margin: 0;
        display: block;
        position: relative;
        top: auto;
        left: 0;
        transform: none;
    }

    .mid-content {
      float: none;
      margin-right: 0;
      padding-right: 0;
    }

    .block__item--animate {
      opacity: 1;
    }

    .expander > div {
      display: block !important;
    }

    .faculty-headshot {
      max-width: 330px;
    }

}