.story__container {
  padding: 2rem 0;
}


.story__heading {
  font: 19px/24px $CamptonExtraBold;
  color: $ms-purple;
  margin-top: 2rem;
  margin-bottom: 0 !important;
}

.story__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem !important;
}

.story__text {
  padding-bottom: 2rem;
}